*{margin: 
    padding: 0;}

    body{
        background-color: #d950e6;
        text-align: center;
        font-family: sans-serif;
    }

    h1{
        color: #50e6dc;
        font: size 100px;;
    }

 .subtitulos {  
font-size: large;
 color: #50e6dc;

 
 }